<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<!-- Контейнер який буде містити галерею карток -->
<div class="gallery">
  <!-- Картки зображень -->
</div>
<!-- Кнопка для завантаження більшої кількості результатів пошуку -->
<button type="button" class="btn btn-primary load-more">
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  ></span>

  <span class="label">Load more</span>
</button>
